* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display:flex;
    justify-content: center;
    align-items: center;
    height:100;
    width: 100vw;
    background: #EB5757;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #000000, #EB5757);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #000000, #EB5757); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.react-chatbot-kit-chat-container {
    width:480px;
}

.react-chatbot-kit-chat-bot-message{
    margin-left: 1px;
}